{% extends "views/header.html" %}


{% block uye %}

<div class="sol">
    <div class="uyepanelform">

    </div>

    <div class="dkullanicilar">
        {% if onlineuser %}
            {% for onuser in onlineuser %}
                <div class="onlinekuldetail">
                    <img src="{{ url_for('static', filename='online.ico') }}" alt="onlineico"><a href="{{url_for('profil2', id=onuser['user_id'])}}"><label>{{onuser['user_name']}}</label></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="orta">
    <div class="body">
        {% for user in kul %}

        {% endfor %}
    </div>
</div>

{% endblock %}

{% block admin %}
<div class="sol">
    <div class="uyepanelform">

    </div>

    <div class="dkullanicilar">
        {% if onlineuser %}
            {% for onuser in onlineuser %}
                <div class="onlinekuldetail">
                    <img src="{{ url_for('static', filename='online.ico') }}" alt="onlineico"><a href="{{url_for('profil2', id=onuser['user_id'])}}"><label>{{onuser['user_name']}}</label></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="orta">
    <div class="body">
        {% for user in kul %}

        {% endfor %}
    </div>
</div>

{% endblock %}
